<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>

<div th:replace="layout::navbar"></div>

<div class="container">
    <form th:action="@{/handle-update/{id} (id=${article.id})}" th:object="${article}" method="post" enctype="multipart/form-data">
        <div>
            <img th:src="${article.profile}" id="output" width="250px" height="150px" alt="" >
        </div>
        <div class="form-group">
            <input type="file" onchange="loadFile(event)" name="file" th:value="${article.profile}" class="form-control" id="exampleInputStudent1" aria-describedby="nameHelp">
        </div>
        <div class="form-group">
            <label for="exampleInputname1", th:text="#{title.text}">Title</label>
            <input type="name" th:value="${article.title}" name="title" class="form-control" id="exampleInputname1" aria-describedby="nameHelp">
        </div>
        <div class="form-group">
            <label for="exampleInputAddress1" th:text="#{desc.text}">Description</label>
            <input type="text" th:value="${article.description}" name="description" class="form-control" id="exampleInputAddress1" aria-describedby="nameHelp">
        </div>
        <button type="submit" class="btn btn-primary" th:text="#{submit.text}">Submit</button>
    </form>
</div>

<script>
    var loadFile = function(event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>