<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new article....</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

</head>
<body>
<div th:replace="layout::navbar"></div>

<div class="container">
    <a  th:href="@{/}" th:text="#{back.text}" >Back</a>
    <h2 th:text="#{writeArticle.text}"></h2>
    <form th:action="@{/handle-add}" th:object="${article}" method="post" enctype="multipart/form-data">
        <div>
            <img src="../images/53563e29-4d26-4a4d-98ae-d3c02c992870.jpg" id="output" width="250px" height="150px" alt="" >
        </div>
        <div class="form-group">
            <input type="file" onchange="loadFile(event)" name="file" class="form-control" id="exampleInputStudent1" aria-describedby="nameHelp">
        </div>

        <div class="form-group">
            <label for="exampleInputname1" th:text="#{title.text}">Title</label>
            <input type="name" name="title" class="form-control" id="exampleInputname1" aria-describedby="nameHelp">
            <small id="nameHelp" th:errors="${article.title}" class="form-text text-danger">We'll never share your name with anyone else.</small>
        </div>

        <div class="form-group">
            <label for="exampleInputAddress1" th:text="#{desc.text}">description</label>
            <input type="text" name="description" class="form-control" id="exampleInputAddress1" aria-describedby="nameHelp">
            <small id="addressHelp"   th:errors="${article.description}" class="form-text text-danger">We'll never share your name with anyone else.</small>
        </div>



        <button type="submit"  class="btn btn-primary" th:text="#{submit.text}">Submit</button>
    </form>
</div>

<script>
    var loadFile = function(event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

</body>
</html>