<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View  article....</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

</head>
<body>
<div th:replace="layout::navbar"></div> <br>
<div class="container">
    <div class="card" style="width: 25rem;">
        <img th:src="${article.profile}"   class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title" th:text="${article.title}"></h5>
            <p  th:text="${article.description}" class="card-text"></p>
            <a th:href="@{/}" class="btn btn-primary">Home</a>
        </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

</body>
</html>