<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>

<div th:replace="layout::navbar"></div>
<br><br>
<div class="container-fluid">
    <nav>
        <div class="container-fluid justify-content-start" style="padding-right:10px">
            <a th:href="@{/form-add}" type="button" class="btn btn-primary" th:text="#{writeArticle.text}">Write Article</a>
            <a class="btn btn-outline-success" style="text-decoration: none" href="http://localhost:8080/?language=km" th:text="#{khmer.text}">ខ្មែរ</a>&nbsp;&nbsp;
            <a class="btn btn-outline-success" style="text-decoration: none" href="http://localhost:8080/?language=en" th:text="#{english.text}">English</a>&nbsp;&nbsp;
            <a class="btn btn-outline-success" style="text-decoration: none" href="http://localhost:8080/?language=ko" th:text="#{korean.text}">한국어</a>
        </div>
    </nav>
    <br><br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" th:text="#{title.text}">Title</th>
            <th scope="col" th:text="#{desc.text}">Description</th>
            <th scope="col" th:text="#{image.text}">Images</th>
            <th scope="col" th:text="#{action.text}">Actions</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="article: ${articles}">
            <th th:text="${article.id}" scope="row">1</th>
            <td th:text="${article.title}">Mark</td>
            <td th:text="${article.description}">Otto</td>
            <td>
                <div>
                    <img th:src="${article.profile}"  width="150px" height="100px" style="border-radius: 10px">
                </div>
            </td>
            <td  >
                <a th:href="@{/view-article/{id}(id=${article.id})}" type="button" class="btn btn-secondary">View</a>
                <a th:href="@{/update-article/{id}(id=${article.id})}" type="button" class="btn btn-success">Update</a>
                <a th:href="@{/delete-article/{id}(id=${article.id})}" type="button" class="btn btn-danger">Delete</a>
            </td>

        </tr>


        </tbody>
    </table>
</div>





<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>